<% provide(:title, "Edit user") %>
<% provide(:button_text, "Save changes") %>
<div class="row">
  <div class="form-group col-md-6 offset-md-3">
    <h1>Update your profile</h1>
    <%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener noreferrer">change</a>
    </div>
  </div>
</div>