    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <%= @project.code %>
          <button class="btn btn-sm" type="button" data-toggle="collapse" 
                  data-target="#collapseExample" aria-expanded="false" 
                  aria-controls="collapseExample">
            <%= icon "upload", "Import Files" %>
          </button>
        </div>
        <div class="card-body">
          <section>
            <%= render 'projects/import_files' %>
          </section>
          <% if @project.data_tables.count > 0 %>
          <section>
            <nav class="nav flex-column">
            <% @project.data_tables.each do |data_table| %>
              <%= link_to data_table.source_filename, 
                          data_table_path(code: @project.code, id: data_table), 
                          class: "nav-link" %>
            <% end %>
            </nav>
          </section>
          <% end %>
        </div>
      </div>
    </div>