<% provide(:title, "Edit project") %>
<% provide(:button_text, "Save changes") %>
<div class="row">
  <div class="form-group col-md-6 offset-md-3">
    <h1>Update project details</h1>
    <%= render 'form' %>
  </div>
</div>